<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="db_config" connectionString="Server=localhost;Database=test;Uid=root;Pwd=1234;Port=3306" />
	</connectionStrings>
	<appSettings>
	<!--	<add key="SerialPort" value="COM1" />
		<add key="BaudRate" value="9600" />
		<add key="DataBits" value="8" />
		<add key="StopBits" value="One" />
		//枚举值: One, Two, OnePointFive 
		<add key="Parity" value="None" />
		// 枚举值: None, Odd, Even, Mark, Space 
		-->
		<add key="port" value="COM1" />
		<add key="baud" value="9600" />
		<add key="data_bit" value="8" />
		<add key="stopbit" value="One" />
		<add key="parity" value="None" />
	</appSettings>
	
  <runtime>
	
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	
          <dependentAssembly>
	
              <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
	
          </dependentAssembly>
	
      </assemblyBinding>
	
  </runtime>
</configuration>